<h1> Money Tracker! </h1>

<form method="GET" action="/transactions/new">
 <div>
      <input type="submit" value="Create new transaction" />
</div>
</form>

<hr>


<% @transactions.each do |transaction| %>
<p> Date: <%= transaction.date %> </p>
<p <%= 'id="red"' if transaction.expense == 't' %>> £<%= transaction.amount %> </p>
<p> Merchant: <%= transaction.find_merchant.name %> </p>
<p> Category: <%= transaction.find_category.name %> </p>

<form method="GET" action="/transactions/<%= transaction.id %>/edit">
 <div>
      <input type="submit" value="Edit transaction" />
</div>
</form>


<form method="POST" action="/transactions/<%= transaction.id %>/delete">
 <div>
      <input type="submit" value="Delete transaction" />
</div>
</form>

<hr>
<% end %>
